/* Landing-Page */
.image {
  height: 100vh !important;
  width: 100% !important;
}

.register-div-1 {
  flex-basis: 20%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.useraddimage {
  width: inherit;
}

.register-div-2 {
  flex-basis: 80%;
  display: block;
}
